name: Publish
on:
  push:
    branches:
      - main
      - beta
    paths-ignore:
      - "**.md"
      - .editorconfig
      - .gitignore
      - LICENSE
  pull_request:
    paths-ignore:
      - "**.md"
      - .editorconfig
      - .gitignore
      - LICENSE

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install packages
        run: bun install

      - name: Generate types
        run: bun run generate-types

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: types
          path: ./types/

  release:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Retrieve additional tag data
        run: git fetch --tags --force

      - uses: actions/download-artifact@v5
        with:
          name: types

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
          registry-url: "https://registry.npmjs.org"

      - name: Determine new version and publish
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
