name: Publish
on:
  push:
    branches:
      - main
      - beta
    paths-ignore:
      - "**.md"
      - .editorconfig
      - .gitignore
      - LICENSE
  pull_request:
    paths-ignore:
      - "**.md"
      - .editorconfig
      - .gitignore
      - LICENSE

permissions:
  id-token: write
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Retrieve additional tag data
        run: git fetch --tags --force

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install packages
        run: bun install

      - name: Generate types
        run: bun run generate-types

      - name: Get Next Version
        run: bunx semantic-release
        id: get-next-version
